includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
    paths:
        - src
        - tests
    level: 7
    phpVersion: 80000
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method object::(count|toArray|toString)#'
